.coursepage__contentmain {display:none;}
.ev-wrapper {padding-top: unset !important;}
.coursepage__nav--prev {border-bottom: unset;}
.ev-hide-top-navigation .ev-article-indicator {padding-top: 100px;}
.ev-article-indicator {z-index: 20;}
@media screen and (min-width: 421px) { .pathdrawer {width: 200px; min-width: 200px;} }
@media screen and (min-width: 1600px) { .pathdrawer {width: 300px; min-width: 300px;} }
button.pathdrawer__btn {background-color: #d52b1e !important; border-color: #d52b1e !important; color: #fff !important;}